<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
   Purus ut faucibus pulvinar elementum integer enim. Urna neque viverra justo nec ultrices. Ullamcorper velit sed ullamcorper morbi.
   Ac tortor dignissim convallis aenean et tortor at risus viverra. Eget nunc scelerisque viverra mauris.
   Bibendum arcu vitae elementum curabitur vitae nunc sed velit dignissim. Hendrerit gravida rutrum quisque non tellus.</p>

<%- include("footer") -%>