/***************************TAG SELECTOR******************************/
body {
    background-color: aliceblue;
}

h1 {
    color: red;
    font-size: 200px;
}


img:hover {
    background-color: gold;
}



/***************************CLASS SELECTOR******************************/
.broccoli {
    background-color: red;
}

.hamburger {
    background-color: green;
}

.circular {
    border-radius: 100%;
}

/***************************ID SELECTOR******************************/
#heading {
    color: blue;
}

#big {
    font-size: 1000px;
}